# 서버 설정
PORT=5000

# MongoDB 연결 URI
MONGO_URI=mongodb://localhost:27017/campus-info

# JWT 시크릿 키 (랜덤하고 복잡한 문자열로 설정)
JWT_SECRET=

# 크롤링 대상 URL
CRAWL_TARGET_URL=

AUTH0_AUDIENCE=https://campus-info-api
AUTH0_ISSUER_BASE_URL=https://{Your_Auth0_도메인}.auth0.com/